@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

:root {
  --mini: 5px;
  --small: 20px;
  --myOrange: rgb(255, 105, 0);
  --clear: rgba(255, 255, 255, 0);
  --lightshade: rgba(0, 0, 0, 0.05);
}

body{
  background-color: white;
  font-family: "NTR", sans-serif; 
}

header {
  background-color: var(--myOrange);
}

footer {
  background-color: var(--myOrange);
  color: white;
}

button {
  background-color: var(--clear);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover  {
  background-color: var(--lightshade);
}

.container {
  display: flex;
}

.toRight {
  margin-left: auto;
}

.smallLeftPad {
  margin-left: var(--small);
}

.smallRightPad {
  margin-right: var(--small);
}

.rightSpacer {
  margin-right: var(--mini);
}

.leftSpacer {
  margin-left: var(--mini);
}

.login {
  background-color: var(--myOrange);
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  padding: 5px 60px;
  font-size: 16px;
  font-weight: bold;
  font-family: "NTR", sans-serif; 
}

.signup {
  background-color: var(--myOrange);
  border-radius: 10px;
  text-align: center;
  display: flex;
  padding: 5px 60px;
  font-size: 16px;
  font-weight: bold;
  font-family: "NTR", sans-serif; 
}